@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Source Sans Pro", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  background-color: #1b1b1b;
  color: #fafafa;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#content {
  min-height: calc(100vh - 100px);
}

#copyright {
  text-align: center;
  margin: 12px 0;
}

.navbar {
  display: flex;
  align-items: flex-end;
  height: 100px;

  padding: 0;
  margin: 0 24px 18px 24px;

  font-size: 20px;

  .title {
    font-size: 45px;
  }
  .fill {
    flex-grow: 1;
  }

  input {
    display: none;
  }

  ul {
    margin: 0;
    display: flex;
    align-items: flex-end;

    li {
      &.about {
        background-color: #a88657;
        border-radius: 25.5px;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }

      list-style: none;

      a {
        display: block;
        padding: 8px 30px;
      }
    }
  }

  label {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    height: 65px;

    ul {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 65px;
      padding-right: 8px;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #1b1b1b;

      li a {
        padding: 8px 20px;
      }
    }

    label {
      display: block;
    }

    .checkbox:checked ~ ul {
      display: flex;
    }
  }
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

.home-title {
  height: 60vh;
  display: block;
  padding: 48px;

  background-image: url("/assets/images/main-background.webp"),
    url("/assets/images/main-background2.jpg");

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  h1 {
    font-weight: 300;
    font-size: 7vw;
    margin: 15vh 0 0 44vw;
  }

  span {
    font-weight: normal;
    font-size: 3vw;
    margin: 0 0 0 44vw;
  }

  @media only screen and (max-width: 1024px) {
    height: 40vh;
  }
  @media only screen and (max-width: 700px) {
    height: 200px;
    background-position: left -50px center;

    h1 {
      font-weight: 300;
      font-size: 50px;
      margin: 2vh 0 0 50vw;
    }
    span {
      font-weight: normal;
      font-size: 25px;
      margin: 0 0 0 50vw;
    }
  }

  @media only screen and (max-width: 500px) {
    height: 200px;
    background-position: -120px center;

    h1 {
      font-weight: 300;
      font-size: 50px;
      margin: 2vh 16px 0 50vw;
    }
    span {
      font-weight: normal;
      font-size: 25px;
      margin: 0 16px 0 50vw;
    }
  }
}

.sub-title {
  height: calc(20vh);
  display: block;
  padding: 48px;

  background-image: url("/assets/images/main-background.webp"),
    url("/assets/images/main-background2.jpg");
  background-size: cover;
  background-position-y: -28px;
  background-repeat: no-repeat;

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 4vw;
    margin: 4vh 0 0 0;
  }
}

.post-title {
  height: calc(20vh);
  display: block;
  padding: 48px;

  background-image: url("/assets/images/main-background.webp"),
    url("/assets/images/main-background2.jpg");
  background-size: cover;
  background-position-y: -28px;
  background-repeat: no-repeat;

  h1 {
    font-weight: 300;
    font-size: 4vw;
    margin: 4vh 0 0 40vw;
  }
  span {
    font-weight: 300;
    font-size: 1vw;
    margin: 8px 0 0 40vw;
  }
}

h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 48px;
}

.schedule {
  margin: 0 64px 0 48px;
  animation: fadein 0.5s ease;

  .row {
    text-align: left;
    padding: 64px;
    margin: 0 auto 0 auto;
    max-width: 800px;

    &:not(:first-of-type) {
      border-top: 1px solid #a88657;
    }

    .dateTime {
      display: inline-block;
      width: 140px;
      vertical-align: top;
      margin-top: 4px;

      .date {
        font-size: 22px;
      }
    }
    .information {
      max-width: 660px;
      display: inline-block;
    }

    h3 {
      color: #a88657;
      font-weight: 500;
      font-size: 28px;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.news {
  background-color: #141414;
  h2 {
    text-align: center;
    font-size: 40px;
  }
}

.news-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .news-item {
    margin: 16px;
    width: 300px;
    height: 220px;
    background-position: center;
    background-size: cover;

    text-align: center;

    h3 {
      font-size: 22px;
      padding-top: 80px;
    }
  }
}

@keyframes fadein {
  from {
    transform: translatey(30px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}
